html {
  font-size: 62.5%;
}

body {
  font-family: 'Epilogue', sans-serif;
  font-weight: 500;
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 41%);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.5rem;
  height: 40px;
  align-items: center;
  padding: 1.5rem 2rem;
}

.logo-img {
  margin-right: 2rem;
  height: 30px;
}

.nav-right,
.nav-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-right {
  gap: 2rem;
}
.nav-left {
  gap: 4rem;
}

.nav-label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 10rem;
  height: 26px;
}

.nav-label-left {
  width: 8rem;
  justify-content: center;
}

.nav-label:hover,
.nav-label:focus {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
  font-weight: 600;
}

.nav-label > .dropdown-icon {
  transition: transform 0.5s;
}
.nav-label:focus > .dropdown-icon {
  transform: rotate(180deg);
}

.dropdown-name {
  padding: 5px;
}

.nav-option {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown-options {
  position: absolute;
  top: calc(100% + 0rem);
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 11rem;
  background-color: white;
  padding: 1.3rem 1.5rem;
  border-radius: 5px;
  box-shadow: 0 0 30px -10px hsl(0, 0%, 41%);
  z-index: 1;
  display: none;
}

.dropdown-options.show {
  display: block;
}

.list-item {
  padding: 0.75rem 0.5rem;
  white-space: nowrap;
  display: flex;
  gap: 15px;
}

.list-item:hover {
  cursor: pointer;
  font-weight: 600;
}

.btn {
  outline: none;
  border: none;
  background: none;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 1.8rem;
  color: hsl(0, 0%, 41%);
  width: 12rem;
  height: 4rem;
}

.btn:hover,
.btn:focus {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
  font-weight: 600;
}

.btn-register {
  border: 2px solid hsl(0, 0%, 41%);
  border-radius: 1.3rem;
}

.btn-register:hover,
.btn-register:focus {
  border: 2px solid hsl(0, 0%, 8%);
}
